<form [formGroup]="form">
  <mat-form-field appearance="{{ appearance }}" class="w-100">
    <mat-label>{{ model }}</mat-label>
    <input (ngModelChange)="textChange($event)"
           (keydown.enter)="keyEnterPressed($event)"
           (keydown.arrowUp)="keyArrowUpPressed($event)"
           (keydown.arrowRight)="keyArrowRightPressed($event)"
           (keydown.arrowDown)="keyArrowDownPressed($event)"
           (keydown.arrowLeft)="keyArrowLeftPressed($event)"
           [matAutocomplete]="auto"
           [value]="valueFromInput()"
           formControlName="name"
           matInput>
  </mat-form-field>
  <mat-autocomplete
    #auto="matAutocomplete"
    [displayWith]="displayFn"
  >
    <mat-option
      (onSelectionChange)="optionSelect(item)"
      *ngFor="let item of loadList; let i = index"
    >
      <span>{{ item.name }}</span>
    </mat-option>
  </mat-autocomplete>
</form>
