<div class="wrapper d-flex w-100 pt-3">
  <form [formGroup]="form" action="submit" class="w-100 pe-5 ps-5">
    <div class="d-flex w-100 flex-column justify-content-center">

      <search-bar (onSelect)="selectCustomer($event)" [model]="modelCustomer"></search-bar>

      <div class="d-flex justify-content-between">
        <search-bar [model]="modelProduct" class="w-50 pe-1"></search-bar>
        <mat-form-field appearance="{{ appearence }}" class="w-50 ps-1">
          <mat-label>Quantidade</mat-label>
          <input autocomplete="off" matInput type="number"/>
        </mat-form-field>
      </div>
    </div>

    <div>
      <table mat-table [dataSource]="dataSource" class="table-responsive w-100 mb-5">
        <ng-container matColumnDef="product">
          <th mat-header-cell *matHeaderCellDef>Produto</th>
          <td mat-cell *matCellDef="let element"> {{element.product.name}} </td>
        </ng-container>
        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef>Quantidade</th>
          <td mat-cell *matCellDef="let element"> {{element.quantity.toFixed(3)}} </td>
        </ng-container>
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef>Preço</th>
          <td mat-cell *matCellDef="let element">R${{(element.product.price).toFixed(2)}}</td>
        </ng-container>
        <ng-container matColumnDef="value">
          <th mat-header-cell *matHeaderCellDef>Valor</th>
          <td mat-cell *matCellDef="let element">R${{(element.product.price * element.quantity).toFixed(2)}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row = index; columns: displayedColumns;" (click)="removeItem(row)"
            class="table-row"></tr>
      </table>

      <mat-form-field appearance="{{ appearence }}" class="w-100">
        <mat-label>Forma de pagamento</mat-label>
        <mat-select formControlName="paymentType">
          <mat-option *ngFor="let item of paymentType | keyvalue" [value]="item.key">
            {{ item.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="d-flex justify-content-center">
      <button mat-raised-button class="btn-outline-dark mb-4 w-50" (click)="submit()">Lançar Venda</button>
    </div>
  </form>

</div>
