<div class="wrapper d-flex w-100 pt-3">
  <form [formGroup]="form" action="submit" class="w-100 pe-5 ps-5">
    <div class="d-flex w-100 flex-column justify-content-center">

      <search-bar (onSelect)="selectCustomer($event)" [model]="modelCustomer"></search-bar>

      <div class="d-flex justify-content-between">
        <search-bar #productbar (onSelect)="productSelect($event)" [model]="modelProduct"
                    class="w-50 pe-1"></search-bar>
        <mat-form-field appearance="{{ appearence }}" class="w-50 ps-1">
          <mat-label>Quantidade</mat-label>
          <input
            (keydown.enter)="keyEnterPressed($event)"
            [(ngModel)]="quantity"
            [ngModelOptions]="{standalone: true}"
            autocomplete="off"
            matInput
            type="number"/>
        </mat-form-field>
      </div>
    </div>

    <div>
      <table [dataSource]="dataSource" class="table-responsive w-100 mb-5" mat-table>
        <ng-container matColumnDef="product">
          <th *matHeaderCellDef mat-header-cell>Produto</th>
          <td *matCellDef="let element" mat-cell> {{element.product.name}} </td>
        </ng-container>
        <ng-container matColumnDef="quantity">
          <th *matHeaderCellDef mat-header-cell>Quantidade</th>
          <td *matCellDef="let element" mat-cell> {{element.quantity.toFixed(3)}} </td>
        </ng-container>
        <ng-container matColumnDef="price">
          <th *matHeaderCellDef mat-header-cell>Preço</th>
          <td *matCellDef="let element" mat-cell>R${{(element.product.price).toFixed(2)}}</td>
        </ng-container>
        <ng-container matColumnDef="value">
          <th *matHeaderCellDef mat-header-cell>Valor</th>
          <td *matCellDef="let element" mat-cell>R${{(element.product.price * element.quantity).toFixed(2)}}</td>
        </ng-container>

        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr (click)="removeItem(row)" *matRowDef="let row = index; columns: displayedColumns;" class="table-row"
            mat-row></tr>
      </table>

      <p>Total: {{ totalValue() }}</p>

      <mat-form-field appearance="{{ appearence }}" class="w-100">
        <mat-label>Forma de pagamento</mat-label>
        <mat-select formControlName="paymentType">
          <mat-option *ngFor="let item of paymentType | keyvalue" [value]="item.key">
            {{ item.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="d-flex justify-content-center">
      <button (click)="submit()" class="btn-outline-dark mb-4 w-50" mat-raised-button>Lançar Venda</button>
    </div>
  </form>

</div>
