<mat-drawer-container [hasBackdrop]="true" class="example-container">
  <mat-drawer #drawer mode="side">
    <form [formGroup]="form" action="filter" class="p-3 d-flex flex-column">
      <mat-form-field>
        <mat-label>Pessoa</mat-label>
        <mat-select [(ngModel)]="personType" [ngModelOptions]="{standalone: true}">
          <mat-option value="customer">Cliente</mat-option>
          <mat-option value="collaborator">Funcionário</mat-option>
          <mat-option value="supplier">Fornecedor</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Tipo</mat-label>
        <mat-select formControlName="legalRecordType" value="customer">
          <mat-option *ngFor="let type of legalRecordType | keyvalue" [value]="type.key">
            {{ type.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Nome</mat-label>
        <input autocomplete="off" formControlName="name" matInput placeholder="Nome" type="text">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Documento</mat-label>
        <input autocomplete="off" formControlName="document" matInput placeholder="Documento" type="text">
      </mat-form-field>
      <button (click)="filter()" mat-raised-button>Aplicar filtro</button>
    </form>
  </mat-drawer>
  <mat-drawer-content>
    <div class="d-flex justify-content-center w-100">
      <button (click)="drawer.toggle()" class="btn-outline-dark mt-2" mat-raised-button>
        <mat-icon>filter_alt</mat-icon>
      </button>
    </div>
    <div class="wrapper w-100 pt-3">
      <div class="w-100">
        <table [dataSource]="dataSource" class="table-responsive w-100" mat-table>
          <ng-container matColumnDef="name">
            <th *matHeaderCellDef mat-header-cell>Nome</th>
            <td *matCellDef="let element" mat-cell> {{ element.name }} </td>
          </ng-container>
          <ng-container matColumnDef="document">
            <th *matHeaderCellDef mat-header-cell>Documento</th>
            <td *matCellDef="let element" mat-cell> {{ element.document }} </td>
          </ng-container>
          <ng-container matColumnDef="legalRecordType">
            <th *matHeaderCellDef mat-header-cell>Tipo de registro</th>
            <td *matCellDef="let element" mat-cell>{{ element.legalRecordType }}</td>
          </ng-container>
          <ng-container matColumnDef="email">
            <th *matHeaderCellDef mat-header-cell>E-mail</th>
            <td *matCellDef="let element" mat-cell>{{ element.email }}</td>
          </ng-container>

          <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
          <tr (click)="personClicked(row)" *matRowDef="let row = index; columns: displayedColumns;" class="table-row"
              mat-row></tr>
        </table>
      </div>
      <div class="w-100">
        <mat-paginator #paginator
                       (page)="setPage($event)"
                       [pageSizeOptions]="[10, 50, 100]"
                       [pageSize]="10"
                       showFirstLastButtons
        ></mat-paginator>
      </div>

    </div>
  </mat-drawer-content>
</mat-drawer-container>


