<div class="main-div animate__animated animate__fadeInDown">

  <mat-card *ngIf="!isReset" class="card">
    <mat-card-title class="text-center pt-3">Login</mat-card-title>
    <form
      (ngSubmit)="login()"
      [formGroup]="form"
      class="mx-5 d-grid justify-content-center animate__animated animate__fadeInDown"
    >
      <mat-form-field appearance="outline">
        <mat-label>Usuário</mat-label>
        <input formControlName="username" matInput placeholder="Usuário">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Senha</mat-label>
        <input formControlName="password" matInput placeholder="Senha" type="password">
      </mat-form-field>
      <button class="btn-info" mat-raised-button type="submit">Entrar</button>
      <p (click)="changeToReset()" class="pt-1 text-end forget-text">Esqueceu a senha?</p>
    </form>
  </mat-card>

  <mat-card *ngIf="isReset" class="card">
    <mat-card-title class="text-center pt-3">Recuperar Senha</mat-card-title>
    <mat-card-subtitle class="text-center pt-3">Envia usuário e senha para demonstração</mat-card-subtitle>
    <form
      (ngSubmit)="resetPassword()"
      [formGroup]="formReset"
      class="d-grid justify-content-center animate__animated animate__fadeInUp"
    >
      <mat-form-field appearance="outline">
        <mat-label>E-mail</mat-label>
        <input formControlName="email" matInput placeholder="E-email">
      </mat-form-field>
      <button class="mb-2 btn-info" mat-raised-button type="submit">Enviar</button>
      <button (click)="this.isReset=false" class="" mat-raised-button>Voltar</button>
    </form>
  </mat-card>

</div>
