<body>
<div class="container pt-1">
  <mat-card class="mat-elevation-z10 height-card">
    <div class="d-flex mt-3 justify-content-center">
      <mat-card-title>Cadastro de Pessoa</mat-card-title>
    </div>
    <form [formGroup]="form">
      <div class="container pt-5 d-grid">

        <mat-form-field appearance="{{appearance}}">
          <mat-label>Tipo de cadasto</mat-label>

          <mat-select formControlName="registrationType">
            <mat-option *ngFor="let item of registrationType | keyvalue" [value]="item.key">
              {{item.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="{{appearance}}">
          <mat-label>Nome</mat-label>
          <input autofocus formControlName="name" matInput type="text">
        </mat-form-field>
        <mat-form-field appearance="{{appearance}}">
          <mat-label>E-mail</mat-label>
          <input autocomplete="off" formControlName="email" matInput type="email">
        </mat-form-field>

        <mat-form-field appearance="{{appearance}}">
          <mat-label>Tipo de Pessoa</mat-label>
          <mat-select formControlName="legalRecordType">
            <mat-option *ngFor="let item of legalRecordType | keyvalue" [value]="item.key">
              {{item.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="{{appearance}}">
          <mat-label>Documento</mat-label>
          <input autocomplete="off" formControlName="document" mask="{{documentMask()}}" matInput
                 placeholder="{{placeholderDocument()}}">
        </mat-form-field>

        <mat-form-field *ngIf="isIndividual()" appearance="{{appearance}}">
          <mat-label>Data de Nascimento</mat-label>
          <input [matDatepicker]="picker" formControlName="birthDate" matInput>
          <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div>
        <div *ngFor="let phone of phones; let i = index;" formArrayName="phones">
          <mat-form-field appearance="{{appearance}}" class="col-12">
            <mat-label>Telefone</mat-label>
            <mat-icon matPrefix>phone</mat-icon>
            <input formControlName="{{i}}" matInput>
            <mat-icon (click)="removePhoneNumber(i)" class="btn-danger" matSuffix>remove</mat-icon>
          </mat-form-field>
        </div>
        <div class="d-flex justify-content-center">
          <button (click)="addPhoneNumber()" class="btn-outline-info col-8" mat-raised-button>Adicionar telefone
          </button>
        </div>
      </div>
      <div class="d-flex mt-5 justify-content-around">
        <button (click)="resetForm()" class="btn-outline-danger col-5" mat-raised-button>Limpar</button>
        <button (click)="submit()" class="btn-outline-success col-5" mat-raised-button>Cadastrar</button>
      </div>
    </form>
  </mat-card>
</div>
</body>
