<mat-drawer-container [hasBackdrop]="true" class="example-container">
    <mat-drawer #drawer mode="side">
    </mat-drawer>
    <mat-drawer-content>
        <div class="d-flex justify-content-center w-100">
            <button (click)="drawer.toggle()" class="btn-outline-dark mt-2" mat-raised-button>
                <mat-icon>filter_alt</mat-icon>
            </button>
        </div>

        <div >
            <table mat-table [dataSource]="productDataSource" multiTemplateDataRows class="mat-elevation-z8 w-100">

                <ng-container matColumnDef="{{column}}" *ngFor="let column of productDisplayedColumns">
                    <th mat-header-cell *matHeaderCellDef> {{column}} </th>
                    <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
                </ng-container>

                <ng-container matColumnDef="expand">
                    <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
                    <td mat-cell *matCellDef="let element">

                    </td>
                </ng-container>

                <ng-container matColumnDef="expandedDetail">
                    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
                        <div class="example-element-detail"
                            [@detailExpand]="element == expandedElement ? 'expanded1' : 'collapsed'">
                            <div class="d-flex flex-column justify-content-center w-100"
                                style="border: solid black 2px">

                                <div class="w-50 p-1">
                                    <mat-spinner *ngIf="isLoadingRow" class=""></mat-spinner>
                                    <h3 class="text-center">Lotes disponíveis</h3>
                                    <table mat-table *ngIf="!isLoadingRow" [dataSource]="productDataSource"
                                        multiTemplateDataRows class="w-100"
                                        style="height: 20vh; border: solid blue 2px;">
                                        <ng-container matColumnDef="{{column}}"
                                            *ngFor="let column of productDisplayedColumns">
                                            <th mat-header-cell *matHeaderCellDef> {{column}} </th>
                                            <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
                                        </ng-container>

                                        <tr *matHeaderRowDef="productDisplayedColumns" mat-header-row></tr>
                                        <tr (click)="expirationLotClicked(row)"
                                            *matRowDef="let row = index; columns: productDisplayedColumns;"
                                            class="table-row" mat-row></tr>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
                <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;" class="example-element-row"
                    [class.example-expanded-row]="expandedElement === element" (click)="productClicked(element)">
                </tr>
                <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
            </table>
            <div class="w-100">
                <mat-paginator #paginator (page)="setPage($event)" [pageSizeOptions]="[10, 50, 100]" [pageSize]="10"
                    showFirstLastButtons></mat-paginator>
            </div>

        </div>
    </mat-drawer-content>
</mat-drawer-container>
