<body>
<div class="container pt-1">
  <mat-card class="mat-elevation-z10">
    <div class="d-flex mt-3 justify-content-center">
      <mat-card-title>Cadastro de Produto</mat-card-title>
    </div>
    <div>
      <form [formGroup]="formGroup" action="">
        <div class="d-flex justify-content-between">
          <mat-form-field appearance="{{appearence}}" style="width: 58%">
            <mat-label>Nome</mat-label>
            <input matInput type="text" formControlName="name">
          </mat-form-field>
          <mat-form-field appearance="{{appearence}}" style="width: 40%">
            <mat-label>Tipo de Quantidade</mat-label>
            <mat-select formControlName="quantityType">
              <mat-option [value]="'UNITY'">Unidade</mat-option>
              <mat-option [value]="'WEIGHT'">Peso</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="d-flex justify-content-between">
          <mat-form-field appearance="{{appearence}}" style="width: 23%">
            <mat-label>Preço</mat-label>
            <input matInput type="number" formControlName="price">
          </mat-form-field>
          <div class="w-75">
            <search-bar [model]="modelSearch"></search-bar>
          </div>
        </div>


        <div class="d-flex mt-5 justify-content-around">
          <button mat-raised-button class="btn-outline-danger col-5" (click)="limparFormulario()">Limpar</button>
          <button mat-raised-button class="btn-outline-success col-5" (click)="cadastrar()">Cadastrar</button>
        </div>

      </form>
    </div>
  </mat-card>
</div>
</body>
